name: Deploy planr backend API

on:
  push:
    branches: [ master, main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ vars.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            /root/pj07-syllabus-to-cal-2pm/.github/scripts/deploy.sh
